
@{
    ViewBag.Title = "PaymentConfirm";
}

<h2>@ViewBag.Message</h2>
<script type="text/javascript">
window.onload = function ()
{
    setTimeout(RedirectToUrl, 1500);
}
function RedirectToUrl()
{
    window.location = "/";
}
</script>

