
.highlight::after {
    content: "";
    clear: both;
    display: table;
}

.highlight > div {
    float: left;
    width: 25%;
    padding-top: 0px;
}
.highlight > div > a:hover {
    text-decoration: none;
    color: black;
}
.highlight {
    justify-content: center;
}

    .highlight > div > a > div {
        border-radius: 10px;
        margin: 10px;
    }

        .highlight > div > a > div:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: 0.4s ease-in-out;
        }
h5.pricesale {
    color: #be1e2d;
}
h6.price {
    text-decoration: line-through 1px solid black;
}
.card-img-top {
    height: 80%;
    width: 80%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
}
.card-body {
    height: 325px;
}
.lbsale span {
    border-radius: 4px;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    padding: 4px;
}

.lbsale {
    padding-top: 3px;
    padding-left: 7px;
}
.lbtragop {
    background-color: #be1e2d;
    color: white;
}
.rating-checked {
    color: rgb(255, 81, 0);
}
.displaying {
    display: inline-table;
}
.hidding {
    display: none;
    font-size: 0px;
}
.information > ul {
    padding-top: 20px;
    padding-left: 35px;
}
    .information > ul > li{
        color: #333;
        font-size: 12px;
        font-weight: 500;
        margin: -15px;
    }

.d-inline::after{
    display: table;
    margin:auto;
}
.d-inline > a {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    border: 1px solid #E5E7EB;
    border-radius: 100px;
    display: inline-table;
    width: 10.5%;
}

    .d-inline > a:hover{
        box-shadow: none !important;
        border-color: #be1e2d;
        transition: 0.5s ease-in-out;
    }
    .btn-on-active {
        box-shadow: none;
        border-color: #be1e2d !important;
    }

.mb-3 > div > a > img {
        vertical-align: sub;
}
.card {
    border: 1px solid white;
    box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.rom-ram {
    margin: 0px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

.rom-ram > span {
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 3px;
    color: black;
}

