
<head>
</head>
<body>
<divid>
<h1><em>Chính sách giao hàng tại Zerone</em></h1> 
<ol>
<li>Zerone nhận giao hàng khắp 63 tỉnh thành trên toàn quốc.</li>
<li>Miễn phí giao hàng trong bán kính 20km có đặt shop</li>
<li>Với khoảng cách lớn hơn 20km, nhân viên Zerone sẽ tư vấn chi tiết về cách thức giao nhận thuận tiện nhất</li>
<li>Cam kết 100% là hàng chính hãng, bảo hành, đổi trả trên toàn quốc.</li>
<li>Hỗ trợ kỹ thuật online miễn phí qua tổng đài.</li>
<li>Tiết kiệm thời gian, thỏa sức mua sắm 24/7.</li>
</ol>
</body>

