
<head>
</head>
<body>
<divid>
<h1><em>Chính sách Trả góp tại Zerone</em></h1> 
<b>Trả góp đơn giản với chỉ 3 điều kiện</b>
<ol>
<li>Trên 18 tuổi</li>
<li>Có tài sản, giấy tờ chứng minh (CMND,GPLX,...)</li>
<li>Kỳ hạn từ 6 đến 12 tháng</li>
</ol>
</body>
