
<head>
</head>
<body>
<divid>
<h1><em>Chính sách bảo hành tại Zerone</em></h1> 
<p>Trong quá trình thực hiện dịch vụ bảo hành, các nội dung lưu trữ trên sản phẩm của Quý khách sẽ bị xóa và định dạng lại. Do đó, Quý khách vui lòng tự sao lưu toàn bộ dữ liệu trong sản phẩm, đồng thời gỡ bỏ tất cả các thông tin cá nhân mà Quý khách muốn bảo mật. Zerone không chịu trách nhiệm đối với bất kỳ mất mát nào liên quan tới các chương trình phần mềm, dữ liệu hoặc thông tin nào khác lưu trữ trên sản phẩm bảo hành.</p>
<p>Vui lòng tắt tất cả các mật khẩu bảo vệ, Zerone sẽ từ chối tiếp nhận bảo hành nếu thiết bị của bạn bị khóa bởi bất cứ phương pháp nào</p>
<b>Không bảo hành nếu</b>
<ol>
<li>Sản phẩm đã bị thay thế linh kiện không chính hãng.</li>
<li>Sản phẩm bị tháo rời hoặc thiếu linh kiện bên trong.</li>
<li>Sản phẩm bị dính nước</li>
<li>Sản phẩm bị rơi vỡ</li>
</ol>
</body>
