<!DOCTYPE HTML>
<html lang="vn" dir="ltr">
<head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="~/css/views/home/Policy" rel="stylesheet">
</head>
<div id =".slidebar">
    <header>Navbar vertical</header>
    <ul>
        <li><a href= "./privacy"><i class = "fas fa-qrcode"></i>Bảo mật</a></li>
        <li><a href= "#"><i class = "fas fa-book"></i>Hậu đãi</a></li>
        <li><a href= "#"><i class = "fas fa-book"></i>Khuyến mãi</a></li>
        <li><a href= "#"><i class = "fas fa-book"></i>Sửa chữa</a></li>
        <li><a href= "#"><i class = "fas fa-book"></i>Máy móc</a></li>
        
    </ul>
</div>




</html>