
<head>
</head>
<body>
<divid>
<h1><em>Chính sách đổi trả tại Zerone</em></h1> 
<p>Máy đổi trả là những Điện thoại , Máy tính bảng, Laptop được bán ra tại Zerone, miễn phí đổi sản phẩm tương đương trong 30 ngày đầu tiên nếu sản phẩm có lỗi nhà sản xuất.</p>
<p>Zerone chỉ thu lại những sản phẩm được bán ra tại Zerone, không thu mua lại các sản phẩm nơi khác. Vì vậy, các sản phẩm đều là hàng chính hãng và có chất lượng tốt nhất.</p>
</body>
