@page "/Lockout/"
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản này đã đăng xuất, vui lòng đăng nhập lại.</p>
</header>