@model WEB2.Models.Category

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Chỉnh sửa danh mục</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index">Quản lý sản phẩm</a></li>
                    <li class="breadcrumb-item active"><a asp-action="Index">Danh mục</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Chỉnh sửa</a></li>
                </ol>
            </div>
        </div>

        <!-- row -->

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CategoryId" />
                    <div class="form-group">
                        <label asp-for="ParentCategoryId" class="control-label"></label>
                        <select asp-for="ParentCategoryId" class="form-control" asp-items="ViewBag.ParentCategoryId"></select>
                        <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label"></label>
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Active" class="control-label"></label>
                        <input asp-for="Active" class="form-control" />
                        <span asp-validation-for="Active" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Picture" class="control-label"></label>
                        <input asp-for="Picture" class="form-control" />
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-outline-dark">Trở về</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Required vendors -->
    <script src="~/vendor/global/global.min.js"></script>
    <script src="~/js/quixnav-init.js"></script>
    <script src="~/js/custom.min.js"></script>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}